TYPE=Ethernet
BOOTPROTO=none
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
NAME={{ hostvars[inventory_hostname]['ansible_default_ipv4']['interface'] }}
IPADDR={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
GATEWAY={{ hostvars[inventory_hostname]['ansible_default_ipv4']['gateway'] }}
NETMASK={{ hostvars[inventory_hostname]['ansible_default_ipv4']['netmask'] }}
ONBOOT=yes
PEERDNS=no
{% if desired_mtu is defined and desired_mtu|int > 0 %}
MTU={{ desired_mtu | int }}
{% endif %}
{% if search_domain is defined and search_domain|length > 0 %}
DOMAIN={{ search_domain }}
{% endif %}
{% if hostvars[inventory_hostname]['add_dnsnameserver'] is defined and hostvars[inventory_hostname]['add_dnsnameserver'] | bool %}
DNS1={{ idm_ip }}
{% endif %}
